<h1 class="mat-display-1">在线抽卡姬</h1>

<mat-card *ngIf="!isStarted">
  <mat-card-content>
    <p>功能可能存在问题，请见谅。</p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!isStarted">
  <mat-card-title>
    抽卡
  </mat-card-title>
  <mat-card-content>
    <div class="gacha-button-group">
      <button (click)="gacha(1)" mat-raised-button>Gacha<br>1x</button>
      <button (click)="gacha(5)" mat-raised-button>Gacha<br>5x</button>
      <button (click)="gacha(11)" mat-raised-button>Gacha<br>11x</button>
    </div>
    <p>出卡概率:
      R: 70%,
      SR: 25%,
      SSR: 5%
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isStarted">
  <mat-card-title>
    抽卡结果
  </mat-card-title>
  <mat-card-content>
    <table class="zebra">
      <thead>
      <th>级别</th>
      <th>卡片名称</th>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of cardResultList">
        <ng-container *ngTemplateOutlet="resultRow; context: {item: item}"></ng-container>
      </ng-container>
      </tbody>
    </table>
    <p *ngIf="cardResultList.length > 0">
      {{submitSuccessful}} 张卡成功被保存 ({{cardResultList.length - submitSuccessful}} 出现错误，请重抽
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="goBack()" mat-raised-button>Go back</button>
  </mat-card-actions>
</mat-card>

<ng-template #resultRow let-item="item">
  <tr>
    <td>
      {{item.card.rarity}}
    </td>
    <td>
      {{item.card.name}}
    </td>
  </tr>
</ng-template>
