<h1 class="mat-display-1">主面板</h1>

<mat-card>
  <mat-card-content>
    欢迎使用Aqua Viewer（由 Kiritake Kumi 简体中文化版本）<br>
    该实例配置状态 {{enableImages ? 'use image assets.' : 'not to use image assets.'}}
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Status</mat-card-title>
  <mat-card-content>
    Diva歌曲列表状态 : {{divaPv}}<br>
    Diva服装模组状态 : {{divaPv}}<br>
    Diva自定饰品状态 : {{divaPv}}<br>
    Chunithm歌曲列表状态 : {{chuniMusic}}<br>
    Chunithm角色列表状态 : {{chuniCharacter}}<br>
    Chunithm角色技能状态 : {{chuniSkill}}<br>
    Ongeki卡片列表状态 : {{ongekiCard}}<br>
    Ongeki角色列表状态 : {{ongekiCharacter}}<br>
    Ongeki歌曲列表状态 : {{ongekiMusic}}<br>
    Ongeki角色技能状态 : {{ongekiSkill}}<br>
    Chunithm New 歌曲列表状态: {{chusanMusic}}<br>
    Chunithm New 角色列表状态: {{chusanCharacter}}<br>
    Chunithm New 收藏品状态: {{chusanTrophy}}<br>
    Chunithm New 奖牌状态: {{chusanNamePlate}}<br>
    Chunithm New 系统语音状态: {{chusanSystemVoice}}<br>
    Chunithm New 地图图标状态: {{chusanMapIcon}}<br>
    Chunithm New Frame List: {{chusanFrame}}<br>
    Chunithm New 头像状态: {{chusanAvatarAcc}}<br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reload()">单击清除缓存</button>
  </mat-card-actions>
</mat-card>
